@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    margin-right: 15px;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a {
    font-size: 18px;
    font-weight: 300;
    color: brown;
    text-decoration: none;
    margin-left: 120px;
    transition: .3s;
}

nav a:hover{
    color: grey;
}

section{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-page{
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(pexels-mwabonje-ringa-1820919.jpg);
    opacity: .7;
}
